/* 没有加.的是元素选择 即该标签名的基本属性*/
body {
    width:inherit;
    height:1400px;
    background-color:floralwhite;
}

li{
    height:35px;
    font-family:'Microsoft YaHei';
    font-size:14px;
}

/* 加.的是根据 class的值选择的 也称作类选择器 */
.header{
    width:100%;
    height:50px;
}

.mainbody{
    width:100%;
    height:1200px;
}

.navigate{
    width:20%;
    height:100%;
    float:left;
}

.contents {
    width: 80%;
    height: 100%;
    float: right;
}

.foot {
    width: 100%;
    height: 50px;
}

.viewdiv {
    width: 100%;
    height: 100%
}

.contentLeft{
    width:65%;
    height:100%;
    float:left;
}

.contentRight {
    width: 35%;
    height: 100%;
    float:right;
    background-color:aliceblue;
}

.areaSel {
    width:100%;
    height:33%;
    border:solid;
    border-color:coral;
}

.stateAndControl{
    width:100%;
    height:50%;
    background-color:ivory
}

.stateDisp{
    width:80%;
    height:100%;
    float:left;
}

.ctrl {
    width: 20%;
    height: 100%;
    float:right;
    background-color:ghostwhite;
}

.globalChart{
    width:640px;
    height:540px;
    border:solid;
    border-width:thin;
    border-color:aquamarine;
    background-color:aquamarine;
}